{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
    {% block head %}{% endblock %}
</head>
<body {% block body_tag %}{% endblock %} >
    {% block body %}{% endblock %}
    <script src="{% static "/js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "/js/popper.min.js" %}"></script>
    <script src="{% static "/js/bootstrap.min.js" %}"></script>
</body>
</html>