{% extends 'base.html' %}
{% block title %}
    {% if content %}
        {{ content.title }}
    {% else %}
        NO CONTENT
    {% endif %}
{% endblock %}
{% block body_tag %}class="bg-dark"{% endblock %}
{% block body %}
    {% if content %}
        <div class="container-fluid">
            <br>
            <div class="row justify-content-center no-print">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="btn-toolbar justify-content-between" role="toolbar">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            {% for page in content.pages.all %}
                                <a href="{{ page.url }}" class="btn btn-sm btn-light "
                                   role="button">{{ page.title }}</a>
                            {% endfor %}
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ page.url }}" class="btn btn-sm btn-light" role="button">fa</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="card bg-light border-0">
                        <img class="card-img-top" src="{{ content.background_img.url }}">
                        <div class="d-flex justify-content-center" style="margin-top: -150px">
                            <img class="rounded-circle w-50 " src="{{ content.profile_img.url }}">
                        </div>
                        <div class="card-body text-center ">
                            <h3 class="card-title">Abolfazl Amiri</h3>
                            <p class="card-text">This is my profile card!</p>
                        </div>

                        <div id="accordion" class="list-group list-group-flush">
                            {% for abl in content.abilities.all %}
                                <a class="list-group-item list-group-item-action border-bottom-0 border-0" data-toggle="collapse"
                                     data-target="#collapse{{ forloop.counter }}"
                                     aria-expanded="true" aria-controls="collapse{{ forloop.counter }}"
                                     role="button">{{ abl.name }}
                                </a>
                                <div class="progress border-0 rounded-0" >
                                    <div class="progress-bar bg-secondary" role="progressbar"
                                         style="width: {{ abl.value }}%;">{{ abl.value }}%
                                    </div>
                                </div>
                                <div id="collapse{{ forloop.counter }}" class="collapse bg-secondary text-white"
                                     aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        {{ abl.description }}
                                    </div>
                                </div>
                            {% endfor %}
                            {#                            <div class="list-group-item">Dapibus ac facilisis in</div>#}
                            {#                            <div class="list-group-item">Vestibulum at eros</div>#}
                        </div>

                        <div class="card-footer text-center">
                            {% for sm in content.social_media.all %}
                                <a href="{{ sm.url }}" class="badge badge-{{ sm.color }}">{{ sm.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    {% else %}
        <div class="container d-flex h-100 justify-content-center">
            <div class="card bg-dark align-self-center w-75">
                <div class="card-body text-white text-center">No Content Found For HomePageContent</div>
            </div>
        </div>
    {% endif %}
{% endblock %}